<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="s" class="com.model.Student">
        <property name="rollNo" value="1"></property>
        <property name="name" value="Prasad"></property>
        <property name="adr" ref="adr"></property>
        </bean>
        <bean id="adr" class="com.model.Address ">
        <property name="areaName" value="Karvenagar"></property>
        <property name="cityName" value="Pune"></property>
        </bean>
</beans>
